openapi: 3.0.3

info:
  title: A2F2 – API Athena Aurion Fehmacou Fehracop
  description: >
    Especificação inicial (pré-protocolo) da API do Sistema A²F².
    Este arquivo define os pontos de integração entre:
    - ATHENA-CORE
    - AURION
    - FEHMACOU
    - FEHRACOP
  version: "0.1-pre"

servers:
  - url: https://a2f2-core.dev/api
    description: Servidor base (placeholder)

paths:

  /aurion/process:
    post:
      summary: Processamento central do módulo Aurion
      description: >
        Ponto de entrada para operações estratégicas do AURION.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entrada:
                  type: string
                  description: Dados brutos para processamento.
      responses:
        "200":
          description: Resultado do processamento Aurion.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  output:
                    type: string

  /fehmacou/validate:
    post:
      summary: Validação estrutural realizada pela FEHMACOU
      description: >
        Analisa estruturas, padrões e requisitos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pacote:
                  type: string
                  description: Pacote de dados para validação.
      responses:
        "200":
          description: Validação concluída.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valido:
                    type: boolean
                  detalhes:
                    type: string

  /fehracop/compile:
    post:
      summary: Compilação e transformação FEHRACOP
      description: >
        Realiza a montagem final e otimização dos outputs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                dados:
                  type: string
      responses:
        "200":
          description: Compilação entregue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  pacote_final:
                    type: string

components:
  schemas:

    PacoteA2F2:
      type: object
      description: Pacote unificado utilizado entre os módulos.
      properties:
        id:
          type: string
        origem:
          type: string
        carga:
          type: object
